#disability-percentages {
    height: 200px;
    width: 580px;
    background-color: aqua;
}

#disability-percentages button {
    margin-left: 10px;
    margin-top: 5%;
}

#disability-percentages button:hover {
    background-color: #f0f0f0;
}

.percentage {
    width: 100px;
    height: 50px;
    font-size: 20px;
}

#checkbox {
    padding-top: 10px;
    height: 50px;
    width: 580px;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(18, 109, 109);
}
#bilateral{
    align-content: center;
}
#ratings{
    padding-top: 10px;
    height: 250px;
    width: 580px;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(85, 182, 177);
}

.percentage-entry {
    float: left;
    border-style: solid;
    width: 80px;
    height: 30px;
    text-align: center;
    padding-top: 7px;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 20px;

}
